.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.table th {
  background: #f9fafb;
  font-weight: 600;
}

.payButton {
  padding: 6px 14px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
.tabs {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  background: #85acfa;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.activeTab {
  background: #111827;
  color: white;
}

.tabsButton{
    background: #111827;
  color: white;
}